:host {
  box-sizing: border-box;

  border: solid $border-width lightgrey;
  border-radius: $border-radius;
  border-top-right-radius: 0;
  box-shadow: 0 0 $shadow-spread $shadow-colour;
  background-color: white;
  color: black;
  padding: 0.5rem;
  line-height: 0;
}

:host(.loaded) {
  border-left-style: double;
  border-left-width: $border-width * 3;
  width: var(--width);
  min-width: var(--initial-width);
  max-width: 100%;
}

ion-icon {
  animation: 1s infinite linear spin;
  font-size: 1.25rem;
}

form {
  margin: 0;
  line-height: 1;
}

fieldset {
  border: 0;
  padding: 0.5rem;
  margin: 0;
}

.field {
  margin-bottom: 0.5rem;
}

label {
  @include label;
}

.middleColumn {
  margin-top: 0.2rem;
  margin-bottom: 0.5rem;
}

input:not([type="checkbox"]):not([type="radio"]),
select,
textarea {
  @include field;
  min-width: 100%;
}

input[type="checkbox"],
input[type="radio"] {
  transform: translateY(2px);
}

input,
select,
textarea,
button {
  font-size: 1rem;
}

button {
  float: right;
  margin-right: 0.5rem;
  margin-bottom: 0.5rem;
}

button:not([type="submit"]) {
  @include standard-button;
}

button[type="submit"] {
  @include primary-button;
}

.horizontal-resize {
  position: absolute;
  width: 1rem;
  height: 100%;
  top: 0;
  left: -0.5rem;
  z-index: 1;
  cursor: ew-resize;
  user-select: none;
}
