@mixin standard-button {
  @include button;

  &:not(:disabled) {
    color: #222f3e;
    background-color: #f0f0f0;

    &:hover {
      background-color: #e3e3e3;
    }

    &:active {
      background-color: #d6d6d6;
    }
  }
}

@mixin primary-button {
  @include button;

  &:not(:disabled) {
    color: #fff;
    background-color: $primary-action-colour;

    &:hover {
      background-color: $primary-action-hover-colour;
    }

    &:active {
      background-color: $primary-action-active-colour;
    }
  }
}

@mixin button {
  appearance: none;
  border-radius: 3px;
  border: none;
  padding: 0.25rem 1rem;
  font-size: 1rem;
  font-weight: bold;
  line-height: 1.5rem;
  transition: background-color $hover-transition-duration;

  &:disabled {
    color: rgba(0, 0, 0, 0.3);
    background-color: #f0f0f0;
  }
}
