[data-ss-freedom-object] {
  outline: dashed 1px transparent;
  transition: outline-color 300ms;
}

[data-ss-freedom-object]:hover {
  outline-color: grey;
}

[data-ss-freedom-field]:hover,
.ss-freedom-empty {
  background-color: rgba(0, 0, 0, 0.025) !important;
}

.ss-freedom-empty:hover {
  background-color: rgba(0, 0, 0, 0.05) !important;
}

[data-ss-freedom-object]:not(.ss-freedom-show-hidden-empty) [data-ss-freedom-hidden-when-empty].ss-freedom-empty,
[data-ss-freedom-object].ss-freedom-show-hidden-empty [data-ss-freedom-object]:not(.ss-freedom-show-hidden-empty) [data-ss-freedom-hidden-when-empty].ss-freedom-empty {
  display: none;
}

span[data-ss-freedom-field].ss-freedom-empty:not(.mce-edit-focus) {
  display: inline-block;
  width: 4em;
  height: 1.25em;
}

ss-freedom-object-options-button {
  z-index: 10000;
}

.tox {
  z-index: 11000;
}

ss-freedom-object-options-panel {
  z-index: 11100;
}
