* {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

a {
  color: $primary-action-colour;
  transition: color $hover-transition-duration;
  text-decoration: none;

  &:hover {
    color: $primary-action-hover-colour;
    text-decoration: underline;
  }

  &:active {
    color: $primary-action-active-colour;
  }
}
