button {
  -webkit-appearance: none;
  border: 0;
  outline: solid 1px grey;
  background-color: white;
  color: black;
  padding: 0.5rem;
  line-height: 0;

  transition: background-color 300ms;
}

button:hover {
  background-color: lightgrey;
}

ion-icon {
  font-size: 1.25rem;
}
