:host {
  outline: solid 1px grey;
  background-color: white;
  color: black;
  padding: 0.5rem;
}

ion-icon.loading {
  animation: 1s infinite linear spin;
  font-size: 1.25rem;
}

form {
  margin: 0;
}

fieldset {
  border: 0;
  padding: 0.5rem;
  padding-bottom: 0;
}

.field {
  margin-bottom: 0.5rem;
}

label {
  font-size: 0.75rem;
  font-weight: 600;
}

.middleColumn {
  margin-top: 0.25rem;
  margin-bottom: 1rem;
}

input,
select,
textarea {
  min-width: 100%;
}

input,
select,
textarea,
button {
  font-size: 1rem;
}

button {
  margin: 0.5rem;
}

@keyframes spin {
  from {
    transform: rotate(360deg)
  }
  to {
    transform: rotate(0deg)
  }
}
